# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/tmp/
dist/

# Go
vendor/
/server

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Logs
*.log
/agent/*.log
server
agent/agent
